.navbar-brand{
  margin-right: 45px;
}
.navbar{
  display: flex;
  justify-content: space-between;
}
.nav-bar-left{
  margin-left: 25px;
}
.nav-bar-right{
  margin-right: 25px;
}
.form-inline{
  align-self: flex-end;
  display: flex;
}
.form-control{
  margin-right: 15px;
}
.nav-link{
  font-size: 30px;
}

